#social-widget-overview td.page-instances {
  padding: 0;
}

#social-widget-overview table.widget-instances-by-page {
  border: none;
  margin: 0;
}

#social-widget-overview table.widget-instances-by-page tr {
  border: none;
}

#social-widget-overview table.widget-instances-by-page tr td:last-child {
  display: none;
}

#social-widget-overview table.widget-instances-by-page .instance-parameters {
  overflow: hidden;
}

#social-widget-overview input.save-order {
  font-size: 0.9em;
  padding: 0 5px;
  float: right;
}
